        /* Header Section */

    .header-items > ul > li{
        list-style: none;
    }
    .header-items > ul {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .header-item{
        color: rgba(137, 135, 161, 1);
    }
    .cart-icon{
        padding-left: 10px;
    }

/* banner Section */
.banner{
    display: flex;
    justify-content: space-evenly;

}
.banner-info{
    align-content: center;
    
}
.banner-title-color-change{
    color: rgba(233, 90, 8, 1);
}
.banner-info-color-change{
    color: rgba(0, 0, 0, 0.5);
}
/* Plant Section */

.plant-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    
}
.btn{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(244, 94, 8, 1);
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
}

/* Plants Lover Section */
.plants-lover{
    display: flex;
    justify-content: space-between;
}
.plants-left{
    position: relative;
    
}
.trusted-badge{
    position: absolute;
    height: 250px;
    width: 250px;
    right: -133px;
    top: -130px;
}
.plants-lover-title{
    font-size: 3em;
}
.plants-lover-list{
    color: rgba(0, 0, 0, 0.5);
    justify-items: center;
}
.plants-lover-info{
    justify-items: center;
    align-content: center;
}

/* Latest Deal Section */
.latest-deal{
    display: flex;
}

.deal-1{
    background-image: url(images/deal-ana.png);
    background-size: cover;
    height: 150px;
    width: 400px;
    background-repeat: no-repeat;
    margin-bottom: 15px;
    border-radius: 15px;
    
}
.deal-2{
    background-image: url(images/deal-bloom.png);
    background-size: cover; 
    height: 150px;
    width: 400px;
    background-repeat: no-repeat;
    border-radius: 15px;
}
.deal-3{
    background-image: url(images/deal-zabo.png);
    background-size: cover;
    height: 315px;
    width: 700px;
    background-repeat: no-repeat;
    border-radius: 15px;
    font-size: 1.875rem;
    line-height: 2.25rem;
    
}
.deal-title{
    color: rgba(255, 255, 255, 1);
}
.deal-subtitle{
    color: rgba(255, 255, 255, 1);
}
/* Join Section */

.join{
    background-image: url(./images/news-letter-bg.png);
    justify-items: center;
    align-content: center;
    background-size: cover;
    height: 400px;
}
.join-title{
    color: rgba(255, 255, 255, 1);
    font-size: 48px;
}
.join-input{
    padding: 7px 150px 7px 150px;

}
.btn-2{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(233, 90, 8, 1);
    padding: 7px 15px 7px 15px;
    border-radius: 5px;
}

/* Footer Section */

.footer{
    display: flex;
    justify-content: space-evenly;
    
}
.footer-items{
    display: flex;
    color: rgba(0, 0, 0, 0.5);
    gap: 50px;
}
.footer-items > ul >li{
    list-style: none;
}
.footer-icons{
    gap: 20px;
}
.footer-info{
    color: rgba(0, 0, 0, 0.5);
}
.footer-icon{
    
    height: 40px;
    width: 40px;
}

@media screen and (max-width: 576px) {
    .header-section{
        flex-direction: row;
        align-items: center;
    }    
    .head-list-1, .head-list-2, .head-list-3{
        display: none;
    } 
    .head-list-4{
        font-size: larger;
    }
    .banner{
        flex-direction: column;
    }
    .banner-info{
        justify-items: center;
    }
    .banner-image{
        justify-content: center;
        padding-top: 40px;
    }
    .plant-section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .plant-info{
        padding-right: 30px;
        padding-left: 30px;
    }
    
    .trusted-badge{
        display: none;
    }
    .plants-lover{
        flex-direction: column;
        padding: 10px 15px 40px 15px;
        
    }
    .plants-lover-title{
        font-size: 1.7em;
        padding-top: 10px;
    }

    .latest-deal{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .latest-deal-info{
         padding-right: 30px;
        padding-left: 30px;
    }
    .deal-3{
        height: 150px;
        width: 400px;
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
    .join-title{
    font-size: 2rem;
   }
   .join-input{
    padding: 7px 40px 7px 40px;
    
}
   
    .footer{
        flex-direction: column;
        margin-left: 50px;
    }
    .footer-items{
        flex-direction: column;
    }
    .footer-list{
        padding-top: 30px;
    }
    .footer-icons{
        padding-top: 30px;
    }
}
